*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body{
    background-size: cover;
    background-attachment: fixed;
}

.intro_text{
    width: 3.2rem;
    height: 6.5rem;
    margin: 0.5rem;
    border: 0;
    font-size: 24px;
    opacity: 0.9;
}

.modulebox{
    width: 9.5rem;
    height: 6.5rem;
    background: rgba(111, 133, 172, 0.5);
    float: right;
    margin: 0.5rem;
    text-align: center;
}

.modulebox div{
    position: relative;
    float: left;
    width: 4rem;
    margin-left: 0.5rem;
    margin-top: 0.5rem;
    height: 2.5rem;
    line-height: 2.5rem;
    font-size: 0.5rem;
    border-radius:5%;
    box-shadow: 10px 10px 5px -4px rgba(0, 0, 0, 0.8);
}

.box1{
    background: #f8f9fa;
}

.box2{
    background: #f8f9fa;
}

.box3{
    background: #f8f9fa;
}

.box4{
    background: #f8f9fa;
}

.modulebox div a{
    color: black;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.modulebox div:hover{
    background: #f4f1f1;
}
/* .modulebox div:hover a{
    color: white;
} */